
                    <!-- Payments -->
                    <!-- <div class="block block-rounded block-bordered invisible" data-toggle="appear">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Open Payments</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                    <i class="si si-refresh"></i>
                                </button>
                                <button type="button" class="btn-block-option">
                                    <i class="si si-wrench"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="table-responsive">
                                <table class="table table-borderless table-hover table-striped table-vcenter mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;">ID</th>
                                            <th>Patient</th>
                                            <th>Invoice</th>
                                            <th>Due</th>
                                            <th>Actions</th>
                                            <th class="text-right">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="font-w600" href="javascript:void(0)">158214</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)">Brian Cruz</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    INV_158214.pdf
                                                </a>
                                            </td>
                                            <td>
                                                <span class="badge badge-primary">tomorrow</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-secondary m-5" href="javascript:void(0)">
                                                    <i class="fa fa-pencil text-primary mr-5"></i> Edit
                                                </a>
                                                <a class="btn btn-sm btn-secondary m-5" href="javascript:void(0)">
                                                    <i class="fa fa-times text-danger mr-5"></i> Cancel
                                                </a>
                                            </td>
                                            <td class="text-right">
                                                $3.500,00
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-w600" href="javascript:void(0)">158213</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)">Melissa Rice</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    INV_158213.pdf
                                                </a>
                                            </td>
                                            <td>
                                                <span class="badge badge-primary">tomorrow</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-secondary m-5" href="javascript:void(0)">
                                                    <i class="fa fa-pencil text-primary mr-5"></i> Edit
                                                </a>
                                                <a class="btn btn-sm btn-secondary m-5" href="javascript:void(0)">
                                                    <i class="fa fa-times text-danger mr-5"></i> Cancel
                                                </a>
                                            </td>
                                            <td class="text-right">
                                                $1.280,00
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="text-right">
                                                <strong class="text-uppercase">Total Due</strong>
                                            </td>
                                            <td class="text-right">
                                                <strong>$4.780,00</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->